/* dt - dark theme */

:root {
  --dt-primary-bg: #0e131f;
  --dt-secondary-bg: #19212c;
  --dt-light-bg: #303946;
  --dt-font-color: #e2e2e2;
  --dt-border-color: #383838;
}

.App {
  min-height: 100vh;
}

.App.dark {
  background-color: var(--dt-primary-bg);
  color: var(--dt-font-color);
}

.transparent-bg {
  background-color: transparent;
}

.fs-10px {
  font-size: 1rem;
}

.fs-12px {
  font-size: 1.2rem;
}

.fs-14px {
  font-size: 1.4rem;
}

.page-container {
  height: calc(100vh - 72.5px);
  overflow-y: auto;
}

.w-100pc {
  width: 100%;
}
